@model webapp4_mvc.Models.Createmvc

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Createmvc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredClaimNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredClaimNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredContactedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredContactedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LossDescCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LossDescCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsurerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsurerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LossLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LossLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LossDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LossDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyInceptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyInceptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChangedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChangedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjestorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjestorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjestorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjestorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
